.zenai-search-mode {
  margin-top: 8px;
}

.zenai-search-select {
  width: 100%;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 6px 10px;
  background-color: #fff;
  font-size: 13px;
}

@media only screen and (min-width: 768px) {
  .zenai-search-mode {
    margin-top: 6px;
  }
}
